html {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
input,
textarea,
select,
button {
  outline: none;
}
input {
  line-height: normal;
}
label,
button {
  cursor: pointer;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
/* using rem unit */
html {
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1;
}

.todo {
  padding: 25px;
  margin: 25px auto;
  max-width: 600px;
}

.todo-form {
  width: 100%;
  display: flex;
  align-items: center;
}

.todo-submit {
  padding: 15px 25px;
  border: 0;
  background-color: #1979ff;
  color: white;
  border-radius: 0 10px 10px 0;
  flex-shrink: 0;
  font-weight: 700;
}

.todo-input{
  border-radius: 10px 0 0 10px;
  width: 100%;
  padding: 15px;
  border: 1px solid #eee;
  font-size: 16px;
}

.todo-list {

}

.todo-item{
  margin-top: 15px;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px dotted #eee;
  align-items: center;

}

.todo-text{
  flex: 1;
  font-weight: 300;
  color: #333;
  display: inline-block;
  padding-right: 10px;
  white-space: nowrap;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 1.4;
}

.todo-remove {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  background-color: #f00;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}