body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1;
}
html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
input, textarea, select, button {
    outline: none;
}
label, button {
    cursor: pointer;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.dropDown {
  position: relative;
  width: 500px;
  padding: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 20px auto;
}

.input-search {
    width: 100%;
    display: block;
    padding: 10px;
    font-size: 16px;
    line-height: 1;
    border: 1px solid #eee;
    border-radius: 8px;
    color: #333;
}

.dropdown-item {
    margin-top: 20px;
    font-weight: 700;
    cursor: pointer;
}
.dropdown-item:hover {
    opacity: 0.7;
}

.primary {
    color: blue;
}